ion-icon {
  font-size: 2rem;
}

ion-icon:focus {
  outline: none;
}

h3 {
  padding-bottom: 0;
}

.form {
  border-radius: 7px;

  ion-select {
    border: 1px solid #ddd;
    border: 17px
  }

  ion-item {
    margin-top: 16px;
  }

}